// Lniri Configuration Example with Liquid Glass effect enabled
// Copy or symlink to ~/.config/lniri/config.kdl (or ~/.config/niri/config.kdl)

window-rule {
    match app-id=".*"
    background-effect {
        blur true
        xray true
        liquid-glass {
            refraction-strength 3.0
            power-factor 10.0
            refraction-power 1.0
            glow-weight 0.0001
            edge-lighting 0.2
            saturation 0.9
            vibrancy 0.2
            adaptive-dim 0.2
            adaptive-boost 0.2
            physical-refraction 0.0
            lens-distortion 0.0
            fringing 0.0
        }
    }
}
